<%= hook("omniauth.login.heading") %>

<% if flash[:error] -%>
  <div class="alert alert-danger">
    <p><%= flash[:error] %></p>
  </div>
<% end -%>

<% @providers.each do |name| %>
  <a class="btn btn-primary" href="<%= File.join(Trestle.config.path, "auth", name.to_s) %>">Login with <%= name.to_s.titleize %></a>
<% end %>